.four {
  padding: 35px 14px;
  text-align: center;
}
.four h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #C44737;
  font-size: 50px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.four h1:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #C44737;
  box-sizing: border-box;
}
@media (max-width: 450px) {
  .four h1 {font-size: 36px;}
  .four h1:before {
    width: 20px;
    height: 20px;
    top: -20px;
    left: -20px;
  }
}

.left-interval{
  margin-left: 15px;
}

.mat-table-sticky {
  border-right: 2px solid lightgray;
  text-align: center;
}

.mat-table-sticky:last-child {
  border-right: none;
}

.plp {
  margin-top: 15px;
  position: relative;
  height: 93%;
  overflow: auto;
}

.mat-table {
  width: 60%;
}

.mat-header-cell {
  padding-left: 8%;
  padding-right: 5%;
}
.mat-header-cell:last-child{
  padding-left: 5%;
  padding-right: 5%;
}
.plp-body{
  padding-bottom: 50px;
}
.plp-footer {

}

.plp_table {
  margin-left:3%;
}

.total-price {
  margin-left: 32%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-user {
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.low-width {
  width: 25%;
}
