.mat-toolbar {
  justify-content: flex-start;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toolbar-contols {
  width: 100vw;
  display: flex;
  position: ;
  flex-direction: row-reverse;
  justify-content: space-between;
}
