<div class="edit-user">
  <h2 color="primary">Login</h2>

  <form [formGroup]="userForm">
    <mat-form-field>
      <input matInput placeholder="Username" [formControlName]="'username'" required>
      <mat-error *ngIf="username.invalid">{{getErrorText('username')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [formControlName]="'password'" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">{{getErrorText('password')}}</mat-error>
    </mat-form-field>
  </form>

  <div class="edit-user-controls">
    <button class="mat-flat-button" mat-button color="primary" [disabled]="username.invalid || password.invalid " (click)="onLoginClick()">
      Login
    </button>
    <button class="mat-flat-button" mat-button color="warn" (click)=onCancelClick()>Cancel</button>
  </div>
</div>
