.last_viewed {
  padding-bottom: 2%;
  margin-left: 3%;
  margin-right: 10%;
}

.last_viewed_cards {
  display: inline-flex;
}

.mat-card {
  width: 60%;
  margin-right: 20px;

}
.mat-card-subtitle{
  text-align: center;
  font-weight: bolder;
}

.mat-card-title {
  position: relative;
}
